@model IEnumerable<Login_LogicTrack.Models.Medicamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout2.cshtml";
}

<h1>Medicamentos</h1>
<br />
<p>
    <a href="/Medicamento/Create"><input type="button" class="btn btn-primary" value="Crear medicamento"></a>
</p>
<div style="overflow-x:auto;">
    <table class="table table-bordered table-sm table-striped" cellspacing="0" width="120%">
        <thead class="table-dark text-center">
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.IdMedicamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreMedicamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaRecepcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaVencimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idProveedor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.ActionLink(item.IdMedicamento.ToString(), "Details", new { id = item.IdMedicamento }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreMedicamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaRecepcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaVencimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idProveedor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>